
extends ../../layouts/default.pug 
include ../../mixins/pagination.pug 
block main 
    h1.text-center(style='margin-top: 30px;font-weight: 30px;')
     i.fas.fa-users
     |  Quản lý người dùng 
    .my-tool
      .tool-container
        .row.tool-section
          form(action="").col-md-4.mb-3
            .input-group
              input.form-control(type='text', placeholder='Tìm kiếm sản phẩm',name='keyword', value=keyword)
              .input-group-append
                button.btn.btn-dark(type='submit') Tìm 
          .col-md-4.mb-3
            .btn-group(role='group', aria-label='Basic example')
              each item in filters
                button.btn.btn-outline-success(type='button' btn-select-filter=item.value style='width: 90px' class=`${item.selected ? 'active' : ""}`) #{item.name}
                
          .col-md-4.mb-3
            select.form-control(form-select-sorting)
              option(value='') Sắp Xếp Theo 
        .row.tool-section
          form(method="post" action="" form-change-multi).col-md-4.mb-3
            .input-group
              select.form-control
                option Thay đổi nhiều
                option(value="status-active") Hoạt động 
                option(value="status-inactive") Không hoạt động 
                option(value="highlighted-1") Nổi bậc 
                option(value="highlighted-0") Không nổi bậc 
                option(value="delete-true")  Xóa 
              input(type="text", name='result').d-none 
              .input-group-append
                button.btn.btn-dark(type='submit') Áp dụng 
          
          .col-md-4.mb-3
            .action-buttons.d-flex.justify-content-md-end
              a(href="/admin/products/create").btn.btn-success
                i.fa-solid.fa-plus 
                |  Thêm 
              button.btn.btn-warning(type='button') 
                i.fa-solid.fa-square-plus
                |  Thêm sll
              button.btn.btn-secondary(type='button' btn-export-excel) 
                i.fa-solid.fa-file-excel 
                |  Xuất Excel 
          form().col-md-4.mb-3
            .input-group
              select.form-control(select-limit)
                option(value="5" selected=(pagination.limit === 5)) Giới hạn 5
                option(value="10" selected=(pagination.limit === 10)) Giới hạn 10 
                option(value="20" selected=(pagination.limit === 20)) Giới hạn 20
                option(value="50" selected=(pagination.limit === 50)) Giới hạn 50 
                option(value="100" selected=(pagination.limit === 100)) Giới hạn 100
         
      

    .table-responsive(table-manage)
      table.table.table-striped
        thead.thead-dark
          tr
            th 
              input(type="checkbox", name="")
            th #
            th Họ và tên 
            th Ảnh đại diện  
            th Email 
            th Số điện thoại  
            th Ngày sinh 
            th giới tính 
            th Trạng thái
            th Ngày tạo  
            th Người tạo 
            th Thao tác 
        tbody
          each item, index in users  
            tr
              td 
                input(type="checkbox",value=item.id, name="")
              td #{pagination.skip + 1 + index}
              td #{item.fullName}
              td 
                img(src=`${item.avatar ? item.avatar : 'https://via.placeholder.com/70x70'}`, alt="" style='width: 70px; height: 70px')
              td #{item.email}
              td #{item.phone}
              td #{item.birthDate ? item.birthDate : "Không"}
              td #{item.gender ? item.gender : "không"}
              td 
                span.badge(class=`${item.status === "active" ? "badge-success" : "badge-danger"}` btn-ch-status=item.id status=item.status endpoint='api/products' style='padding: 10px;') #{item.status}
              td !{moment(item.createdAt).format(' dddd,DD/MM/YYYY </br> HH:mm:ss')}  
              
              td
                strong Hồ Sơn Hào 
              td
                a(href=`/admin/products/update/${item.id}`).btn.btn-sm.btn-info
                  i.fas.fa-edit
                button.btn.btn-sm.btn-danger
                  i.fas.fa-trash 
                a(href=`/admin/products/detail/${item.id}`).btn.btn-sm.btn-warning 
                  i.fa-solid.fa-magnifying-glass
    +pagination(pagination)
    