extends ../../layouts/default.pug 

block styles 
    link(rel="stylesheet", href="/css/checkout.css")
block main  
 .container
  .tracking-container
    if !order.isConfirmed 
     .tracking-header Theo dõi đơn hàng 
      i.fa-solid.fa-box-open 
      
     .status-container
      .status-step(class=(order.status === 'pending' ? 'active' : '') status='pending')
        .status-circle &check;
        .status-label Đang chờ 
      .status-step(class=(order.status === 'confirmed' ? 'active' : '') status='confirmed')
        .status-circle &check;
        .status-label Đã xác nhận 
      .status-step(class=(order.status === 'processing' ? 'active' : '') status='processing')
        .status-circle &check;
        .status-label Trong quá trình 
      .status-step(class=(order.status === 'shipped' ? 'active' : '') status='shipped')
        .status-circle &check;
        .status-label Đang vận chuyển 
      .status-step(class=(order.status === 'delivered' ? 'active' : '') status='delivered')
        .status-circle &check;
        .status-label Đã giao 
      .status-step(class=(order.status === 'cancelled' ? 'active' : '') status='cancelled')
        .status-circle 
          i.fa-solid.fa-x
        .status-label Bị hủy 
     
    else 
     .tracking-header ĐƠN HÀNG ĐÃ ĐƯỢC XÁC NHẬN 
      i.fa-solid.fa-check
    
     
    each item in order.products
     .order 
      .order-item
        img.product-image(src=(item.productId.thumbnail.length > 0 ? item.productId.thumbnail[0] : 'https://via.placeholder.com/100') alt='Product Image')
        a(href=`/products/${item.productId.slug}` style='text-decoration: none').product-details
          h5.product-title #{item.productId.title}
          p.product-info 
            | Số lượng: 
            strong #{item.quantity}
          p.product-info
            | Giá tiền: 
            span.price #{formatPrice(item.price * (100 - item.discountPercentage)/100)} 
        if order.isConfirmed && item.canRating
          button.btn.btn-outline-success(btn-show-rating)
            i.fa-solid.fa-comment
      form(action=`/products/${item.productId.id}/product-reviews` method="post").rating-form.d-none
            // Star rating
            .stars
              span.star(data-value='1') &starf;
              span.star(data-value='2') &starf;
              span.star(data-value='3') &starf;
              span.star(data-value='4') &starf;
              span.star(data-value='5') &starf;
            
            
            .form-group
              input#rating-input(type='hidden', name='rating')
              input(type='hidden' name='orderId' value=order.id)
              textarea.form-control(rows='4',name='comment' placeholder='Ghi nội dung đánh giá ở đây...')
              button.btn.submit-btn.btn-block(type='submit') Đánh giá 
                i.fa-solid.fa-star
        
        
    // Additional Info
    .additional-info
      h5.info-title Thông tin vận chuyển 
      p
        i.fa-solid.fa-location-dot 
        strong  Địa chỉ giao hàng: 
        |  #{order.user.address.street}, #{order.user.address.city}, #{order.user.address.country}
      p
        i.fa-solid.fa-calendar-days
        strong  Ngày đặt hàng: 
        |  #{moment(order.createdAt).calendar()}
      p
        i.fa-solid.fa-clock
        strong  Ngày giao hàng dự tính: 
        |  #{moment(order.createdAt).calendar()}
      p
        i.fa-solid.fa-truck
        strong  Phí vận chuyển  
        |  #{formatPrice(order.shippingCost)}
      p

        strong Tổng tiền:
        span.price  #{formatPrice(order.totalPrice)} 
    if !order.isConfirmed 
      form(action=`/orders/${order.id}/confirmed?_method=PATCH` form-confirm-order method="post") 
       .btn-group(role='group', aria-label='Basic mixed styles example')
        button.btn.btn-info(type='submit' disabled=(order.status !== 'delivered') btn-confirm-order=order.id) Xác nhận 
          i.fa-solid.fa-check 
        button.btn.btn-danger(type='button' disabled=(['shipped','delivered','cancelled'].includes(order.status)) btn-cancel-order) Hủy đơn hàng 
          i.fa-solid.fa-ban
 
 block script 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/order.js") 
