extends ../../layouts/default.pug 
block styles 
    link(rel="stylesheet", href="/css/checkout.css")
block main  
 .container
  .tracking-container
    .tracking-header Theo dõi đơn hàng 
     i.fa-solid.fa-box-open
    // Status Tracking Steps
    .status-container
      .status-step(class=(order.status === 'pending' ? 'active' : '') status='pending')
        .status-circle &check;
        .status-label Đang chờ 
      .status-step(class=(order.status === 'confirmed' ? 'active' : '') status='confirmed')
        .status-circle &check;
        .status-label Đã xác nhận 
      .status-step(class=(order.status === 'processing' ? 'active' : '') status='processing')
        .status-circle &check;
        .status-label Trong quá trình 
      .status-step(class=(order.status === 'shipped' ? 'active' : '') status='shipped')
        .status-circle &check;
        .status-label Đang vận chuyển 
      .status-step(class=(order.status === 'delivered' ? 'active' : '') status='delivered')
        .status-circle &check;
        .status-label Đã giao 
    each item in order.products
      .order-item
        img.product-image(src=(item.productId.thumbnail.length > 0 ? item.productId.thumbnail[0] : 'https://via.placeholder.com/100') alt='Product Image')
        .product-details
          h5.product-title #{item.productId.title}
          p.product-info 
            | Số lượng: 
            strong #{item.quantity}
          p.product-info
            | Giá tiền: 
            span.price #{formatPrice(item.price * (100 - item.discountPercentage)/100)}
    
    // Additional Info
    .additional-info
      h5.info-title Thông tin vận chuyển 
      p
        i.fa-solid.fa-location-dot 
        strong  Địa chỉ giao hàng: 
        |  #{order.user.address.street}, #{order.user.address.city}, #{order.user.address.country}
      p
        i.fa-solid.fa-calendar-days
        strong  Ngày đặt hàng: 
        |  #{moment(order.createdAt).calendar()}
      p
        i.fa-solid.fa-clock
        strong  Ngày giao hàng dự tính: 
        |  #{moment(order.createdAt).calendar()}
      p
        i.fa-solid.fa-truck
        strong  Phí vận chuyển  
        |  #{formatPrice(order.shippingCost)}
      p

        strong Tổng tiền:
        span.price  #{formatPrice(order.totalPrice)} 

 block script 
    script(src="/socket.io/socket.io.js") 
    script(src="/js/order.js") 
