
extends ../../layouts/default.pug 
include ../../mixins/pagination.pug 
block main 
    h1.text-center(style='margin-top: 30px;font-weight: 30px;') Quản lý sản phẩm 
    .my-tool
      .tool-container
        .row.tool-section
          form(action="").col-md-4.mb-3
            .input-group
              input.form-control(type='text', placeholder='Tìm kiếm sản phẩm',name='keyword', value=keyword)
              .input-group-append
                button.btn.btn-dark(type='submit') Tìm 
          .col-md-4.mb-3
            .btn-group(role='group', aria-label='Basic example')
              each item in filters
                button.btn.btn-outline-success(type='button' btn-select-filter=item.value style='width: 90px' class=`${item.selected ? 'active' : ""}`) #{item.name}
                
          .col-md-4.mb-3
            select.form-control(form-select-sorting)
              option(value='') Sắp Xếp Theo 
              option(value='title-asc' selected=(sortString === "title-asc")) Tiêu đề từ A - Z
              option(value='title-desc' selected=(sortString === "title-desc")) Tiêu đề từ Z - A 
              option(value='price-asc' selected=(sortString === "price-asc")) Giá tiền A - Z 
              option(value="price-desc" selected=(sortString === "price-desc")) Giá tiền Z - A
        .row.tool-section
          form(method="post" action="/admin/products/change-multi?_method=PATCH" form-change-multi).col-md-4.mb-3
            .input-group
              select.form-control
                option Thay đổi nhiều
                option(value="status-active") Hoạt động 
                option(value="status-inactive") Không hoạt động 
                option(value="highlighted-1") Nổi bậc 
                option(value="highlighted-0") Không nổi bậc 
                option(value="delete-true")  Xóa 
              input(type="text", name='result').d-none 
              .input-group-append
                button.btn.btn-dark(type='submit') Áp dụng 
          form(action="").col-md-4.mb-3
            .d-flex
              input.form-control.mr-2(type='number', placeholder='Giá từ', name='minPrice', value=minPrice)
              input.form-control.mr-2(type='number', placeholder='Giá đến' name='maxPrice', value=maxPrice)
              button.btn.btn-dark(type='submit') Lọc 
          .col-md-4.mb-3
            .action-buttons.d-flex.justify-content-md-end
              a(href="/admin/products/create").btn.btn-success
                i.fa-solid.fa-plus 
                |  Thêm 
              button.btn.btn-warning(type='button') 
                i.fa-solid.fa-square-plus
                |  Thêm sll
              button.btn.btn-secondary(type='button' btn-export-excel) 
                i.fa-solid.fa-file-excel 
                |  Xuất Excel 
        .row.tool-section
          form().col-md-4.mb-3
            .input-group
              select.form-control(select-limit)
                option Giới hạng 
                option(value="5" selected=(pagination.limit === 5)) 5
                option(value="10" selected=(pagination.limit === 10)) 10 
                option(value="20" selected=(pagination.limit === 20)) 20
                option(value="50" selected=(pagination.limit === 50)) 50 
                option(value="100" selected=(pagination.limit === 100))  100
          .col-md-4.mb-3
            select.form-control(select-category)
              option(value='') Lọc theo danh mục 
              each item in categories 
                option(value=item.id selected=(categoryId === item.id)) #{item.title}
          .col-md-4.mb-3
            select.form-control
              option(value='') Lọc theo người tạo 
              option(value='') 

    .table-responsive(table-manage)
      table.table.table-striped
        thead.thead-dark
          tr
            th 
              input(type="checkbox", name="")
            th #
            th Tiêu đề 
            th Ảnh
            th Giá tiền 
            th Nổi bậc 
            th trạng thái 
            th vị trí 
            th Ngày tạo
            th Thao tác 
        tbody
          each item, index in products 
            tr
              td 
                input(type="checkbox",value=item.id, name="")
              td #{pagination.skip + 1 + index}
              td #{item.title}
              td 
                img(src=`${item.thumbnail.length > 0 ? item.thumbnail[0] : 'https://via.placeholder.com/70x70'}`, alt="" style='width: 70px; height: 70px')
              td #{item.newPrice}
              td 
                span.badge(class=`${item.highlighted === "1" ? "badge-warning" : "badge-info"}` btn-ch-highlighted=item.id style='padding: 10px;') #{item.highlighted === "1" ? "Có" : "Không"}
              td 
                span.badge(class=`${item.status === "active" ? "badge-success" : "badge-danger"}` btn-ch-status=item.id status=item.status endpoint='api/products' style='padding: 10px;') #{item.status}
              td 
                input(type="number" value=item.position inp-position=item.id style='width: 70px') 
              td !{moment(item.createdAt).format(' dddd,DD/MM/YYYY </br> HH:mm:ss')}  
              td
                a(href=`/admin/products/update/${item.id}`).btn.btn-sm.btn-info
                  i.fas.fa-edit
                button.btn.btn-sm.btn-danger
                  i.fas.fa-trash 
                a(href=`/admin/products/detail/${item.id}`).btn.btn-sm.btn-warning 
                  i.fa-solid.fa-magnifying-glass
    +pagination(pagination) 
    
    div(path='products').my-path 
    form(action="/admin/products/export/excel" method="POST" form-export-excel).d-none 
      input(type="text" name='ids') 