
extends ../../layouts/default.pug 
include ../../mixins/rangePrice.pug
include ../../mixins/pagination.pug 
block main 
    h1.text-center(style='margin-top: 30px;font-weight: 30px;') Quản lý sản phẩm 
    button(style='position: absolute; right: 20px' btn-toggle-tool).btn-danger.btn V
    

    .table-responsive
      table.table.table-striped
        thead.thead-dark
          tr
            th 
              input(type="checkbox", name="")
            th #
            th Tiêu đề 
            th Ảnh
            th Giá tiền 
            th Nổi bậc 
            th trạng thái 
            th vị trí 
            th Ngày tạo
            th Thao tác 
        tbody
          each item, index in products 
            tr
              td 
                input(type="checkbox", name="")
              td #{index + 1}
              td #{item.title}
              td 
                img(src=`${item.thumbnail.length > 0 ? item.thumbnail[0] : 'https://via.placeholder.com/70x70'}`, alt="" style='width: 70px; height: 70px')
              td #{item.newPrice}
              td 
                span.badge(class=`${item.highlighted === "1" ? "badge-warning" : "badge-info"}` style='padding: 10px;') #{item.highlighted === "1" ? "Có" : "Không"}
              td 
                span.badge(class=`${item.status === "active" ? "badge-success" : "badge-danger"}` style='padding: 10px;') #{item.status}
              td 
                input(type="number" value=item.position style='width: 70px') 
              td !{moment(item.createdAt).format(' dddd,DD/MM/YYYY </br> HH:mm:ss')}
              td
                button.btn.btn-sm.btn-info
                  i.fas.fa-edit
                button.btn.btn-sm.btn-danger
                  i.fas.fa-trash 
                button.btn.btn-sm.btn-warning 
                  i.fa-solid.fa-magnifying-glass
    +pagination(pagination)