
extends ../../layouts/default.pug 
include ../../mixins/rangePrice.pug
block main 
    h1.text-center(style='margin-top: 30px;font-weight: 30px;') Quản lý sản phẩm 
    button(style='position: absolute; right: 20px' btn-toggle-tool).btn-danger.btn V
    .toolbar.p-3.bg-light.border.rounded(style='margin-bottom: 20px;' tool-manage)
      .row
        // Search Box
        .col-md-3.mb-3
          .form-group
            label(for='search') T&igrave;m ki&#x1EBF;m
            .d-flex
              input#search.form-control.mr-2(type='text', placeholder='Nhập từ khóa...')
              button.btn.btn-primary T&igrave;m
        // Price Range Inputs
        +rangePrice()
        // Sort Dropdown
        .col-md-2.mb-3
          .form-group
            label(for='sort') S&#x1EAF;p x&#x1EBF;p theo
            select#sort.form-control
              option(value='') Ch&#x1ECD;n s&#x1EAF;p x&#x1EBF;p
              option(value='asc') Gi&aacute; t&abreve;ng d&#x1EA7;n
              option(value='desc') Gi&aacute; gi&#x1EA3;m d&#x1EA7;n
        // Filter Dropdown
        .col-md-2.mb-3
          .form-group
            label(for='filter') Tr&#x1EA1;ng th&aacute;i
            select#filter.form-control
              option(value='') Ch&#x1ECD;n tr&#x1EA1;ng th&aacute;i
              option(value='active') Ho&#x1EA1;t &dstrok;&#x1ED9;ng
              option(value='inactive') Kh&ocirc;ng ho&#x1EA1;t &dstrok;&#x1ED9;ng
        .col-md-3.mb-3
          .form-group
            label(for='filter') Thay &dstrok;&#x1ED5;i nhi&#x1EC1;u s&#x1EA3;n ph&#x1EA9;m
            .d-flex
              select#filter.form-control.mr-2
                option(value='') Ch&#x1ECD;n t&ugrave;y ch&#x1ECD;n
                option(value='option1') T&ugrave;y ch&#x1ECD;n 1
                option(value='option2') T&ugrave;y ch&#x1ECD;n 2
                option(value='option3') T&ugrave;y ch&#x1ECD;n 3
              button.btn.btn-secondary o
        .col-md-4.mb-2
          .form-group
            label Thao t&aacute;c
            .d-flex
              button.btn.btn-warning.mr-2 Th&ecirc;m
              button.btn.btn-dark.mr-2 Th&ecirc;m Excel
              button.btn.btn-success.mr-2 Xu&#x1EA5;t Excel 
          

    .table-responsive
      table.table.table-striped.table-bordered
        thead.thead-dark
          tr
            th 
              input(type="checkbox", name="")
            th #
            th Tiêu đề 
            th Ảnh
            th Giá tiền 
            th Nổi bậc 
            th trạng thái 
            th vị trí 
            th Ngày tạo
            th Thao tác 
        tbody
          each item, index in products 
            tr
              td 
                input(type="checkbox", name="")
              td #{index + 1}
              td #{item.title}
              td 
                img(src=`${item.thumbnail.length > 0 ? item.thumbnail[0] : 'https://via.placeholder.com/70x70'}`, alt="" style='width: 70px; height: 70px')
              td #{item.newPrice}
              td 
                span.badge(class=`${item.highlighted === "1" ? "badge-warning" : "badge-info"}` style='padding: 10px;') #{item.highlighted === "1" ? "Có" : "Không"}
              td 
                span.badge(class=`${item.status === "active" ? "badge-success" : "badge-danger"}` style='padding: 10px;') #{item.status}
              td 
                input(type="number" value=item.position style='width: 70px') 
              td !{moment(item.createdAt).format(' dddd,DD/MM/YYYY </br> HH:mm:ss')}
              td
                button.btn.btn-sm.btn-info
                  i.fas.fa-edit
                button.btn.btn-sm.btn-danger
                  i.fas.fa-trash 
                button.btn.btn-sm.btn-warning 
                  i.fa-solid.fa-magnifying-glass
    if pagination 
      .container.mt-5
        nav(aria-label='Page navigation')
          ul.pagination.justify-content-center
            li.page-item
              a.page-link( aria-label='Previous' btn-pagination=`${pagination.page - 1}` class=`${1 === pagination.page ? "d-none" : ""}`)
                span(aria-hidden='true') &laquo;
            - for (let i = 1; i <= pagination.countPage; i++)
                  li.page-item()
                    a.page-link(btn-pagination=i class=`${i === pagination.page ? "active-page" : ""}`) #{i}
            li.page-item
              a.page-link(aria-label='Next' btn-pagination=`${pagination.page + 1}` class=`${pagination.countPage === pagination.page ? "d-none" : ""}`)
                span(aria-hidden='true') &raquo;