
extends ../../layouts/default.pug 
include ../../mixins/pagination.pug 
block main 
    h1.text-center(style='margin-top: 30px;font-weight: 30px;') Quản lý sản phẩm 
    .my-tool
      .tool-container
        .row.tool-section
          // Hàng 1: Tìm kiếm, Bộ lọc, Sắp xếp
          .col-md-4.mb-3
            .input-group
              input.form-control(type='text', placeholder='Tìm kiếm sản phẩm')
              .input-group-append
                button.btn.btn-dark(type='button') Tìm 
          .col-md-4.mb-3
            select.form-control
              option B&#x1ED9; l&#x1ECD;c 1
              option B&#x1ED9; l&#x1ECD;c 2
              option B&#x1ED9; l&#x1ECD;c 3
          .col-md-4.mb-3
            select.form-control
              option S&#x1EAF;p x&#x1EBF;p A-Z
              option S&#x1EAF;p x&#x1EBF;p Z-A
              option Gi&aacute; t&abreve;ng d&#x1EA7;n
              option Gi&aacute; gi&#x1EA3;m d&#x1EA7;n
        .row.tool-section
          // Hàng 2: Chọn với nút, Lọc giá, Nút hành động
          .col-md-4.mb-3
            .input-group
              select.form-control
                option L&#x1EF1;a ch&#x1ECD;n 1
                option L&#x1EF1;a ch&#x1ECD;n 2
                option L&#x1EF1;a ch&#x1ECD;n 3
              .input-group-append
                button.btn.btn-dark(type='button') &Aacute;p d&#x1EE5;ng
          .col-md-4.mb-3
            .d-flex
              input.form-control.mr-2(type='number', placeholder='Giá từ')
              input.form-control.mr-2(type='number', placeholder='Giá đến')
              button.btn.btn-dark(type='button') L&#x1ECD;c
          .col-md-4.mb-3
            .action-buttons.d-flex.justify-content-md-end
              button.btn.btn-success(type='button')
                i.fa-solid.fa-plus 
                |  Thêm 
              button.btn.btn-warning(type='button') 
                i.fa-solid.fa-square-plus
                |  Thêm sll
              button.btn.btn-secondary(type='button') 
                i.fa-solid.fa-file-excel 
                |  Xu&#x1EA5;t Excel
    

    .table-responsive
      table.table.table-striped
        thead.thead-dark
          tr
            th 
              input(type="checkbox", name="")
            th #
            th Tiêu đề 
            th Ảnh
            th Giá tiền 
            th Nổi bậc 
            th trạng thái 
            th vị trí 
            th Ngày tạo
            th Thao tác 
        tbody
          each item, index in products 
            tr
              td 
                input(type="checkbox", name="")
              td #{index + 1}
              td #{item.title}
              td 
                img(src=`${item.thumbnail.length > 0 ? item.thumbnail[0] : 'https://via.placeholder.com/70x70'}`, alt="" style='width: 70px; height: 70px')
              td #{item.newPrice}
              td 
                span.badge(class=`${item.highlighted === "1" ? "badge-warning" : "badge-info"}` btn-ch-highlighted=item.id style='padding: 10px;') #{item.highlighted === "1" ? "Có" : "Không"}
              td 
                span.badge(class=`${item.status === "active" ? "badge-success" : "badge-danger"}` btn-ch-status=item.id status=item.status endpoint='api/products' style='padding: 10px;') #{item.status}
              td 
                input(type="number" value=item.position inp-position=item.id style='width: 70px') 
              td !{moment(item.createdAt).format(' dddd,DD/MM/YYYY </br> HH:mm:ss')}  
              td
                button.btn.btn-sm.btn-info
                  i.fas.fa-edit
                button.btn.btn-sm.btn-danger
                  i.fas.fa-trash 
                button.btn.btn-sm.btn-warning 
                  i.fa-solid.fa-magnifying-glass
    +pagination(pagination) 

    div(end-point='api/products')