extends ../../layouts/default.pug 

block main 
    
    // End Header
    // Banner
    .banner-container
      .banner-slide.active
        img(src='/images/banner1.png', alt='Slide 1')
      .banner-slide
        img(src='/images/banner2.png', alt='Slide 2')
      .banner-slide
        img(src='/images/banner3.png', alt='Slide 3')
      // Nút điều hướng
      button.prev
        i.fas.fa-arrow-left
      button.next
        i.fas.fa-arrow-right
    // End Banner
    .container.mt-4
      h3#title-sold B&aacute;n ch&#x1EA1;y
      #productCarousel.carousel.slide(data-bs-ride='carousel')
        .carousel-inner
          // Carousel Item 1 (active)
          .carousel-item.active
            .d-flex.justify-content-center
             each item in firstProductsCarousel
               a(href=`/products/${item.slug}` style='text-decoration: none; color: black').col-6.col-md-4.col-lg-2
                .card.product-sold-card
                  img(src='https://via.placeholder.com/120', alt=item.title)
                  .product-sold-title #{item.title}
                  .product-sold-count 1.223M Đã bán 
                  .product-sold-price #{formatPrice(item.newPrice)}
                  // Giá tiền
              
          // Carousel Item 2
          .carousel-item
            .d-flex.justify-content-center
             each item in secondProductsCarousel  
              a(href=`/products/${item.slug}` style='text-decoration: none; color: black').col-6.col-md-4.col-lg-2
                .card.product-sold-card
                  img(src='https://via.placeholder.com/100', alt=item.title)
                  .product-sold-title #{item.title}
                  .product-sold-count 0.99M Đã bán
                  .product-sold-price 450.000&dstrok;
                  // Giá tiền
              
        // Carousel controls
        button.carousel-control-prev(type='button', data-bs-target='#productCarousel', data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.visually-hidden Previous
        button.carousel-control-next(type='button', data-bs-target='#productCarousel', data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.visually-hidden Next
    // CATEGORY
    // Category Carousel
    .container.my-4.category-carousel
      h5.category-title Danh mục 
      #categoryCarousel.carousel.slide(data-bs-ride='carousel', data-bs-interval='3000')
        .carousel-inner
          .carousel-item.active
            .d-flex.justify-content-between
             each item in firstCategoriesCarousel 
              .category-item
                img(src='https://via.placeholder.com/80', alt=(item.title))
                h6 #{item.title}
              
          .carousel-item
            .d-flex.justify-content-between
             each item in secondCategoriesCarousel 
              .category-item
                img(src='https://via.placeholder.com/80', alt=(item.title))
                h6 #{item.title}
              
        // Carousel controls
        button.carousel-control-prev(type='button', data-bs-target='#categoryCarousel', data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.visually-hidden Previous
        button.carousel-control-next(type='button', data-bs-target='#categoryCarousel', data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.visually-hidden Next
    // SUGGESTIONS PRODUCT LIST
    .container.py-5
      // Danh Sách Sản Phẩm Đề Xuất
      .container.py-5
        .recommended-section
          .section-title Sản phẩm đề xuất 
          .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-5.g-4
           each item in products 
            .col
              .recommended-product-card
                img.img-fluid(src='https://via.placeholder.com/300x200', alt=item.title)
                a(href=`/products/${item.slug}` style='text-decoration: none; color: black').recommended-product-title #{item.title}
                .recommended-product-prices
                  span.recommended-new-price #{formatPrice(item.price)}
                .recommended-purchase-info
                  i.fas.fa-shopping-cart
                  span 150 mua
                .recommended-product-rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star-half-alt
                  |  (120 &dstrok;&aacute;nh gi&aacute;)
                .recommended-stock
                  | C&ograve;n h&agrave;ng: #{item.quantity}
                a.recommended-add-to-cart(href='#')
                  i.fas.fa-shopping-cart
                  span Thêm vào giỏ 
            