extends ../../layouts/default.pug 


block main 
    section.bg-danger.py-4(style='margin-top: ;')
      .container
        .text-center.mb-4(style='margin-top: 50px')
          h2.text-white &#x1F525; S&#x1EA3;n Ph&#x1EA9;m N&#x1ED5;i B&#x1EAD;t &#x1F525;
        #featuredProductsCarousel.carousel.slide(data-bs-ride='carousel')
          .carousel-inner
            // Product Slide
            .carousel-item.active
              .row
               if hightlightedProducts.length > 0
                each item, index in hightlightedProducts
                  .col-md-3(class=`${index >= 4 ? "d-none" : ""}` feature-item=item.slug)
                    .card
                      .badge.bg-danger.position-absolute Gi&#x1EA3;m #{item.discountPercentage}% 
                      img.card-img-top(src='https://via.placeholder.com/250x150', alt='Product 4')
                      .card-body
                        h6.text-danger #{item.title}
                        p.card-text #{item.description}
                        h5.text-danger #{item.newPrice}
                        p.text-muted
                          s #{item.oldPrice}
                        p
                          span.text-warning &starf;&starf;&starf;&starf;&starf;
                        a.btn.btn-light.border(href='#') Y&ecirc;u th&iacute;ch &#x2764;&#xFE0F;
            // Add more carousel-item for more products
          // Carousel Controls
          button.carousel-control-prev(type='button', data-bs-target='#featuredProductsCarousel', data-bs-slide='prev' btn-prev)
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
          button.carousel-control-next(type='button', data-bs-target='#featuredProductsCarousel', data-bs-slide='next' btn-next)
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next
    section.container.my-4
      h2.text-center.mb-4 DANH M&#x1EE4;C
      .row.row-cols-6.g-3
        // Danh mục 1
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Thời Trang Nam')
            h6 Th&#x1EDD;i Trang Nam
        // Danh mục 2
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Điện Thoại & Phụ Kiện')
            h6 &Dstrok;i&#x1E;C7;n Tho&#x1EA1;i &amp; Ph&#x1EE5; Ki&#x1EC7;n
        // Danh mục 3
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Thiết Bị Điện Tử')
            h6 Thi&#x1EBF;t B&#x1ECB; &Dstrok;i&#x1EC7;n T&#x1EED;
        // Danh mục 4
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Máy Tính & Laptop')
            h6 M&aacute;y T&iacute;nh &amp; Laptop
        // Danh mục 5
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Máy Ảnh & Máy Quay Phim')
            h6 M&aacute;y &#x1EA2;nh &amp; M&aacute;y Quay Phim
        // Danh mục 6
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Đồng Hồ')
            h6 &Dstrok;&#x1ED3;ng H&#x1ED3;
        // Danh mục 7
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Giày Dép Nam')
            h6 Gi&agrave;y D&eacute;p Nam
        // Danh mục 8
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Thiết Bị Điện Gia Dụng')
            h6 Thi&#x1EBF;t B&#x1ECB; &Dstrok;i&#x1EC7;n Gia D&#x1EE5;ng
        // Danh mục 9
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Thể Thao & Du Lịch')
            h6 Th&#x1EC3; Thao &amp; Du L&#x1ECB;ch
        // Danh mục 10
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Ô Tô & Xe Máy & Xe Đạp')
            h6 &Ocirc; T&ocirc; &amp; Xe M&aacute;y &amp; Xe &Dstrok;&#x1EA1;p
        // Danh mục 11
        .col
          .category-item
            img(src='https://via.placeholder.com/100x100', alt='Thời Trang Nữ')
            h6 Th&#x1EDD;i Trang N&#x1EEF;
    section.container.my-4
      h2.text-center.mb-4 G&#x1EE2;I &Yacute; H&Ocirc;M NAY
      .row.row-cols-5.g-3
       each item in products
        // Product 1
        a(href=`/products/${item.slug}` style='color: black').text-decoration-none.col
          .product-item
            span.product-label -#{item.discountPercentage}%
            img(src='https://via.placeholder.com/200x200', alt=item.title)
            h5 #{item.title}
            .product-price #{item.newPrice}
            .product-discount #{item.oldPrice}
            .product-tags
              span Đang bán chạy
            button.btn-buy Mua ngay
        