extends ../../layouts/default.pug 

block main 
    
    // End Header
    // Banner
    .banner-container
      .banner-slide.active
        img(src='/images/banner1.png', alt='Slide 1')
      .banner-slide
        img(src='/images/banner2.png', alt='Slide 2')
      .banner-slide
        img(src='/images/banner3.png', alt='Slide 3')
      // Nút điều hướng
      button.prev
        i.fas.fa-arrow-left
      button.next
        i.fas.fa-arrow-right
    // End Banner
    .container.mt-4
      h3#title-sold B&aacute;n ch&#x1EA1;y
      #productCarousel.carousel.slide(data-bs-ride='carousel')
        .carousel-inner
          // Carousel Item 1 (active)
          .carousel-item.active
            .d-flex.justify-content-center
             each item in soldProducts
              .col-6.col-md-4.col-lg-2
                .card.product-sold-card
                  img(src='https://via.placeholder.com/120', alt=item.title)
                  .product-sold-title #{item.title}
                  .product-sold-count 1.223M Đã bán 
                  .product-sold-price #{item.newPrice}
                  // Giá tiền
              
          // Carousel Item 2
          .carousel-item
            .d-flex.justify-content-center
             each item in categories 
              a(href=`/products/${item.slug}` style='text-decoration: none').col-6.col-md-4.col-lg-2
                .card.product-sold-card
                  img(src='https://via.placeholder.com/100', alt=item.title)
                  .product-sold-title #{item.title}
                  .product-sold-count 0.99M Đã bán
                  .product-sold-price 450.000&dstrok;
                  // Giá tiền
              
        // Carousel controls
        button.carousel-control-prev(type='button', data-bs-target='#productCarousel', data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.visually-hidden Previous
        button.carousel-control-next(type='button', data-bs-target='#productCarousel', data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.visually-hidden Next
    // CATEGORY
    // Category Carousel
    .container.my-4.category-carousel
      h5.category-title Danh m&#x1EE5;c
      #categoryCarousel.carousel.slide(data-bs-ride='carousel', data-bs-interval='3000')
        .carousel-inner
          .carousel-item.active
            .d-flex.justify-content-between
              .category-item
                img(src='https://via.placeholder.com/80', alt='Trang Điểm Môi')
                h6 Trang &Dstrok;i&#x1EC3;m M&ocirc;i
              .category-item
                img(src='https://via.placeholder.com/80', alt='Mặt Nạ')
                h6 M&#x1EB7;t N&#x1EA1;
              .category-item
                img(src='https://via.placeholder.com/80', alt='Trang Điểm Mặt')
                h6 Trang &Dstrok;i&#x1EC3;m M&#x1EB7;t
              .category-item
                img(src='https://via.placeholder.com/80', alt='Sữa Rửa Mặt')
                h6 S&#x1EEF;a R&#x1EED;a M&#x1EB7;t
              .category-item
                img(src='https://via.placeholder.com/80', alt='Dầu Gội & Dầu Xả')
                h6 D&#x1EA7;u G&#x1ED9;i &amp; D&#x1EA7;u X&#x1EA3;
              .category-item
                img(src='https://via.placeholder.com/80', alt='Chống Nắng')
                h6 Ch&#x1ED1;ng N&#x1EAF;ng
              .category-item
                img(src='https://via.placeholder.com/80', alt='Sữa Tắm')
                h6 S&#x1EEF;a T&#x1EAF;m
              .category-item
                img(src='https://via.placeholder.com/80', alt='Dưỡng Thể')
                h6 D&#x1B0;&#x1EE1;ng Th&#x1EC3;
          .carousel-item
            .d-flex.justify-content-between
              .category-item
                img(src='https://via.placeholder.com/80', alt='Tẩy Trang')
                h6 T&#x1EA9;y Trang
              .category-item
                img(src='https://via.placeholder.com/80', alt='Sản Phẩm Khác')
                h6 S&#x1EA3;n Ph&#x1EA9;m Kh&aacute;c
              .category-item
                img(src='https://via.placeholder.com/80', alt='Sản Phẩm A')
                h6 S&#x1EA3;n Ph&#x1EA9;m A
              .category-item
                img(src='https://via.placeholder.com/80', alt='Sản Phẩm B')
                h6 S&#x1EA3;n Ph&#x1EA9;m B
              .category-item
                img(src='https://via.placeholder.com/80', alt='Sản Phẩm C')
                h6 S&#x1EA3;n Ph&#x1EA9;m C
              .category-item
                img(src='https://via.placeholder.com/80', alt='Sản Phẩm D')
                h6 S&#x1EA3;n Ph&#x1EA9;m D
              .category-item
                img(src='https://via.placeholder.com/80', alt='Sản Phẩm E')
                h6 S&#x1EA3;n Ph&#x1EA9;m E
              .category-item
                img(src='https://via.placeholder.com/80', alt='Sản Phẩm F')
                h6 S&#x1EA3;n Ph&#x1EA9;m F
        // Carousel controls
        button.carousel-control-prev(type='button', data-bs-target='#categoryCarousel', data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.visually-hidden Previous
        button.carousel-control-next(type='button', data-bs-target='#categoryCarousel', data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.visually-hidden Next
    // SUGGESTIONS PRODUCT LIST
    .container.py-5
      // Danh Sách Sản Phẩm Đề Xuất
      .container.py-5
        .recommended-section
          .section-title Sản phẩm đề xuất 
          .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-5.g-4
           each item in products 
            .col
              .recommended-product-card
                img.img-fluid(src='https://via.placeholder.com/300x200', alt=item.title)
                a(href=`/products/${item.slug}` style='text-decoration: none').recommended-product-title(title='Sản phẩm 1') #{item.title}
                .recommended-product-prices
                  span.recommended-new-price #{item.oldPrice}
                .recommended-purchase-info
                  i.fas.fa-shopping-cart
                  span 150 mua
                .recommended-product-rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star-half-alt
                  |  (120 &dstrok;&aacute;nh gi&aacute;)
                .recommended-stock
                  | C&ograve;n h&agrave;ng: 25
                a.recommended-add-to-cart(href='#')
                  i.fas.fa-shopping-cart
                  span Thêm vào giỏ 
            