extends ../../layouts/default.pug 
include ../../mixins/pagination.pug 
block main 
    h1.text-center(style='margin-top: 30px;font-weight: 30px;')
     i.fa-solid.fa-boxes-stacked
     |  Quản lý vai trò 
    .my-tool
      .tool-container
        .row.tool-section
          form(action="").col-md-4.mb-3
            .input-group
              input.form-control(type='text', placeholder='Tìm kiếm sản phẩm',name='keyword', value=keyword)
              .input-group-append
                button.btn.btn-dark(type='submit') Tìm                 
          
          form(action="" from-range).col-md-4.mb-3
            .d-flex
                input.form-control.mr-2(type='number',placeholder='Lượng quyền từ', name='minCountPermission' value=minCountPermission)
                input.form-control.mr-2(type='number',placeholder='Lượng quyền đến' name='maxCountPermission', value=maxCountPermission)
                button.btn.btn-dark(type='submit') Lọc 
          .col-md-4.mb-3
            select.form-control
              option(value='') Lọc theo người tạo 
              option(value='') 
    .table-responsive(table-manage)
      table.table.table-striped
        thead.thead-dark
          tr
            th 
              input(type="checkbox", name="")
            th #
            th Tiêu đề 
            th Mô tả ngắn 
            th Số lượng quyền 
            th Tạo vào ngày 
            th người tạo 
            th Thao tác 
        tbody
          each item, index in roles  
            tr
              td 
                input(type="checkbox",value=item.id, name="")
              td #{pagination.skip + 1 + index}
              td #{item.title}
              td #{item.description}
              td #{item.permissions.length}
              td !{moment(item.createdAt).format(' dddd,DD/MM/YYYY </br> HH:mm:ss')}  
              td
                strong Hồ Sơn Hào 
              td
                a(href=`/admin/products/update/${item.id}`).btn.btn-sm.btn-info
                  i.fas.fa-edit
                button.btn.btn-sm.btn-danger
                  i.fas.fa-trash 
                a(href=`/admin/products/detail/${item.id}`).btn.btn-sm.btn-warning 
                  i.fa-solid.fa-magnifying-glass 
    +pagination(pagination)