extends ../../layouts/default.pug 


block main 
    .container.mt-4
      .row
        // Sidebar Filters
        .col-lg-3(style='margin-top: 50px')
          .filter-section
            h5 B&#x1ED9; L&#x1ECD;c T&igrave;m Ki&#x1EBF;m
            .mb-3
              label.form-label N&#x1A1;i B&aacute;n
              select.form-select
                option(selected='') H&agrave; N&#x1ED9;i
                option TP. H&#x1ED3; Ch&iacute; Minh
                option Th&aacute;i Nguy&ecirc;n
                option V&itilde;nh Ph&uacute;c
            .mb-3
              label.form-label &Dstrok;&#x1A1;n V&#x1ECB; V&#x1EAD;n Chuy&#x1EC3;n
              .form-check
                input#express.form-check-input(type='checkbox')
                label.form-check-label(for='express') H&#x1ECF;a T&#x1ED1;c
              .form-check
                input#fast.form-check-input(type='checkbox')
                label.form-check-label(for='fast') Nhanh
              .form-check
                input#saver.form-check-input(type='checkbox')
                label.form-check-label(for='saver') Ti&#x1EBF;t Ki&#x1EC7;m
            .mb-3
              label.form-label Khoảng giá 
              input.form-control(type='number', inp-min-price,min=0, value=minPrice ? minPrice : 0 ,placeholder='Từ')
              input.form-control.mt-2(type='number', inp-max-price,min=0, value=maxPrice placeholder='Đến')
            .mb-3(style='display: flex; justiy-content: center')
              button.btn.btn-warning(style='width: 100%;' btn-range-price) Tính 
            .mb-3
              label.form-label T&igrave;nh Tr&#x1EA1;ng
              .form-check
                input#new.form-check-input(type='checkbox')
                label.form-check-label(for='new') M&#x1EDB;i
              .form-check
                input#used.form-check-input(type='checkbox')
                label.form-check-label(for='used') &Dstrok;&atilde; S&#x1EED; D&#x1EE5;ng
        // Products Grid
        .col-lg-9(style='margin-top: 50px')
          .d-flex.justify-content-between.align-items-center.mb-3
            if keyword 
              h4 có #{products.length} kết quả tìm kiếm cho 
                strong #{keyword}
            select.form-select.w-25(select-sort)
              option(value='') Sắp xếp theo 
              option(value="createdAt-asc" selected=(sortString === "createdAt-asc" )) Mới nhất 
              option(value="createdAt-desc" selected=(sortString === "createdAt-desc")) Cũ nhất 
              option(value="price-asc" selected=(sortString === "price-asc" )) Giá từ thấp đến cao  
              option(value="price-desc" selected=(sortString === "price-desc")) Giá từ cao đến thấp 
          .row
            // Product Card
            each item in products 
              a(href="/products/"+item.slug).text-decoration-none.col-md-3.mb-4
                .card.product-card.p-2
                  img.card-img-top.product-image(src=`${item.thumbnail.length > 0 ? item.thumbnail[0] : "https://via.placeholder.com/250"}`,style='width: 250px; height: 250px', alt='iPhone')
                  .card-body
                    h6.product-title(style='font-size: 20px') #{item.title}
                    .d-flex.justify-content-between.align-items-center
                      span.price #{item.newPrice}
                      span.sale-tag -#{item.discountPercentage}%
                    .rating-stars
                      | &starf;&starf;&starf;&starf;&starf;
              // Additional Product Cards
              // Add more product cards here by copying the div above and changing the content 
          if pagination 
           .container.mt-5
            nav(aria-label='Page navigation example')
              ul.pagination.pagination-custom
                // Previous Button (disabled if on first page)
                li.page-item(class=`${pagination.page === 1 ? "disabled" : ""}`)
                  a.page-link(href='#', aria-label='Previous' btn-pagination=(pagination.page - 1))
                    span(aria-hidden='true') &laquo;
                - for (let i = 1; i <= pagination.countPage; i++)
                  li.page-item
                    a.page-link(btn-pagination=i class=`${pagination.page == i ? "active" : ""}`) #{i}
                // Next Button
                li.page-item(class=`${pagination.page === pagination.countPage ? "disabled" : ""}`)
                  a.page-link(btn-pagination=(pagination.page + 1) aria-label='Next')
                    span(aria-hidden='true') &raquo; 