extends ../../layouts/default.pug 

block main 
  .container.mt-4
    .row
      // Filter Sidebar
      .col-md-3
        .filter-sidebar
          // Lọc theo giá
          form.mb-3(form-range-price)
            h5 Khoảng giá 
            .row
              .col
                input#minPrice.form-control(type='number' name='minPrice' value=minPrice placeholder='Giá thấp nhất', min=0)
              .col
                input#maxPrice.form-control(type='number' name='maxPrice' value=maxPrice placeholder='Giá cao nhất', min=0)
            button.btn.btn-success.w-100(style='margin-top: 10px' type='submit') Lọc 
          // Lọc theo nhãn hàng
          .mb-3
            label.form-label(for='sortSelect') Sắp xếp theo 
            select#sortSelect.form-select
              option(value='price-asc') Giá tiền A - Z 
              option(value='price-desc') Giá tiền Z - A
              option(value='sold-desc') Mua nhiều nhất 
              option(value='sold-asc') Mua ít nhất 
              option(value="rating-asc") Đánh giá cao nhất  
          // Nút lọc
          button.btn.btn-primary.w-100 L&#x1ECD;c
      // Product Listing
      .col-md-9
        .row.mb-3
          .col-6
            if keyword 
              p#show-keyword-result
                | Kết quả tìm kiếm cho
                strong  #{keyword}
          .col-6.d-flex.justify-content-end
            select#product-limit.form-control.select-control.small-select(name='limit' style='width: 120px; float: right;' select-limit)
              option(value='4' selected=(pagination.limit === 4)) 4
              option(value='16' selected=(pagination.limit === 16)) 16
              option(value='40' selected=(pagination.limit === 40)) 40 
              option(value='80' selected=(pagination.limit === 80)) 80 
              - if (![4,16,40,80].includes(pagination.limit) )
                 option(value=pagination.limit selected='') #{pagination.limit}

        .row
         each item in products 
          .col-6.col-md-4.col-lg-3
            .product-list-card
              img.img-fluid(src=(item.thumbnail.length > 0 ? item.thumbnail[0] : 'https://via.placeholder.com/200') alt='Product 1')
              a(href=`/products/${item.slug}` style='text-decoration: none').product-list-title #{item.title}
              .product-prices
                .product-old-price #{item.oldPrice}
                .product-new-price #{item.newPrice}
              .product-sale-percent -#{item.discountPercentage}%
              .product-icons
                .product-sold
                  i.bi.bi-cart-fill
                  |  1.5K &dstrok;&atilde; b&aacute;n
                .product-rating
                  i.bi.bi-star-fill
                  |  4.5
          
    // After the product listing, add this pagination section
    .col-md-12
      nav(aria-label='Page navigation')
        ul.pagination.justify-content-center
          li.page-item(class=(pagination.page === 1 ? 'disabled' : ''))
            button.page-link( btn-pagination=(pagination.page - 1)) Trước sao 
          - for(let i = 1; i <= pagination.countPage; i++) 
            li.page-item(class=((i === pagination.page ? 'active' : '')))
              button.page-link(btn-pagination=i) #{i}
          li.page-item(class=(pagination.page === pagination.countPage ? 'disabled' : ''))
            button.page-link(btn-pagination=(pagination.page + 1)) Sau
