extends ../../layouts/default.pug 

block styles 
    link(rel="stylesheet", href="/css/profiles.css")
block main 
 .container.my-5
  .card.profile-card.mx-auto.shadow-lg.rounded-4
    .row.g-0
      // Profile Sidebar
      .col-md-4.profile-sidebar
        .text-center.p-4
          img.rounded-circle.mb-3.shadow(src='https://via.placeholder.com/150' alt='User Avatar' style='width: 120px; height: 120px;')
          h4.text-white #{user.fullName}
          p.text-white-50 #{user.email}
          hr.text-white
          p.text-white-50
            i.fas.fa-phone.me-2
            | #{user.phone}
          p.text-white-50
            i.fas.fa-birthday-cake.me-2
            | #{user.birthDate ? moment(user.birthDate).calendar() : 'Chưa có'}
          p.text-white-50
            i.fas.fa-venus-mars.me-2
            | #{user.gender ? user.gender : 'Chưa có'}
          p.text-white-50
            i.fa-solid.fa-calendar-days
            |  #{moment(user.createdAt).format('Do/MM/YYYY')}
      // Profile Details and Actions
      .col-md-8
        .card-body.p-4
          h5.card-title.mb-4.text-custom Th&ocirc;ng tin c&aacute; nh&acirc;n
          .list-group
            .list-group-item.border-0
              strong Tr&#x1EA1;ng th&aacute;i:
              span.badge.bg-success  
                | #{user.status === 'active' ? 'Còn hoạt động' : 'Dừng hoạt động'}
            .list-group-item.border-0
              strong X&aacute;c th&#x1EF1;c t&agrave;i kho&#x1EA3;n:
              |  #{user.isVerified ? 'Đã xác thực' : 'Chưa xác thực'}
            .list-group-item.border-0 
              Button.btn.btn-danger(btn-update-password) Thay đổi mk 
                i.fa-solid.fa-lock 
              form(form-update-password action="/users/update-password?_method=PATCH" method="POST").d-none 
                .row.mb-3
                  .col-md-4
                    label.form-label(for='currentPassword') Mật khẩu hiện tại 
                    input#currentPassword.form-control(type='password' name='currentPassword')
                  .col-md-4
                    label.form-label(for='city') Mật khẩu mới 
                    input#city.form-control(type='password' name='newPassword')
                  .col-md-4 
                    label.form-label(for='city') Nhập lại mật khẩu mới 
                    input#city.form-control(type='password' name='repeatPassword') 
                button.btn.btn-dark.shadow(type='submit') Đổi Mk 
                  i.fa-solid.fa-lock 
          // Profile Actions
          .mt-5
            button.btn.btn-custom.shadow.me-2(onclick="showSection('editProfile')")
              i.fas.fa-user-edit
              |  Sửa thông tin
            button.btn.btn-custom.shadow.me-2(onclick="showSection('orders')")
              i.fas.fa-box
              |  &Dstrok;&#x1A1;n H&agrave;ng
            button.btn.btn-custom.shadow.me-2(onclick="showSection('wishlist')")
              i.fas.fa-heart
              |  S&#x1EA3;n Ph&#x1EA9;m Y&ecirc;u Th&iacute;ch
            button.btn.btn-custom.shadow(onclick="showSection('addresses')")
              i.fas.fa-map-marker-alt
              |  &Dstrok;&#x1ECB;a Ch&#x1EC9;
  // Sections
  #editProfile.mt-5.section.shadow.p-4.rounded-4.bg-white
    h3.text-custom
      i.fas.fa-user-edit.me-2
      | S&#x1EED;a Th&ocirc;ng Tin C&aacute; Nh&acirc;n
    form(action="?_method=PATCH" method="POST")
      .row.mb-3
        .col-md-6
          label.form-label(for='fullName') H&#x1ECD; v&agrave; T&ecirc;n
          input#fullName.form-control(type='text' value=user.fullName name='fullName')
        .col-md-6
          label.form-label(for='email') Email
          input#email.form-control(type='email' value=user.email name='email')
      .row.mb-3
        .col-md-6
          label.form-label(for='phone') S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i
          input#phone.form-control(type='text' value=user.phone name='phone')
        .col-md-6
          label.form-label(for='birthDate') Ng&agrave;y sinh
          input#birthDate.form-control(type='date' value=`${moment(user.birthDate , 'DD/MM/YYYY').format('YYYY-MM-DD')}` name='birthDate' placeholder='Nhập ngày sinh của bạn')
      .row.mb-3
        .col-md-6
          label.form-label.d-block Gi&#x1EDB;i t&iacute;nh
          .form-check.form-check-inline
            input#male.form-check-input(type='radio' name='gender' value='nam'  checked=(user.gender === 'nam'))
            label.form-check-label(for='male') Nam
          .form-check.form-check-inline
            input#female.form-check-input(type='radio' name='gender' value='nữ' checked=(user.gender === 'nữ'))
            label.form-check-label(for='female') N&#x1EEF;

      button.btn.btn-custom.shadow(type='submit') L&#x1B0;u Thay &Dstrok;&#x1ED5;i
  #orders.mt-5.section.shadow.p-4.rounded-4.bg-white
    h3.text-custom
      i.fas.fa-box.me-2
      | &Dstrok;&#x1A1;n H&agrave;ng &Dstrok;&atilde; Mua
    .order-group
      .order-item.mb-4
        h5 &Dstrok;&#x1A1;n h&agrave;ng #12345 - Ng&agrave;y mua: 12/01/2024 - Tr&#x1EA1;ng th&aacute;i: &Dstrok;&atilde; giao
        .product-list.d-flex.flex-wrap
          .product-card.shadow-sm.m-2
            img(src='https://via.placeholder.com/100' alt='Product Image')
            .product-info
              h6 S&#x1EA3;n ph&#x1EA9;m A
              p Gi&aacute;: 100,000&dstrok;
          .product-card.shadow-sm.m-2
            img(src='https://via.placeholder.com/100' alt='Product Image')
            .product-info
              h6 S&#x1EA3;n ph&#x1EA9;m B
              p Gi&aacute;: 200,000&dstrok;
      .order-item.mb-4
        h5 &Dstrok;&#x1A1;n h&agrave;ng #67890 - Ng&agrave;y mua: 20/02/2024 - Tr&#x1EA1;ng th&aacute;i: &Dstrok;ang x&#x1EED; l&yacute;
        .product-list.d-flex.flex-wrap
          .product-card.shadow-sm.m-2
            img(src='https://via.placeholder.com/100' alt='Product Image')
            .product-info
              h6 S&#x1EA3;n ph&#x1EA9;m C
              p Gi&aacute;: 150,000&dstrok;
  #wishlist.mt-5.section.shadow.p-4.rounded-4.bg-white
    h3.text-custom
      i.fas.fa-heart.me-2
      | S&#x1EA3;n Ph&#x1EA9;m Y&ecirc;u Th&iacute;ch
    .product-list.d-flex.flex-wrap
      each item in favoriteList.productIds
        a(href="/products/"+item.slug).text-decoration-none.product-card.shadow-sm.m-2.position-relative
          button.btn-favorite
            i.fas.fa-heart.text-danger
          img(src=(item.thumbnail.length > 0 ? item.thumbnail[0] : 'https://via.placeholder.com/100') alt='Product Image')
          .product-info
            h6 #{item.title}
            p #{formatPrice(item.newPrice)}
  #addresses.mt-5.section.shadow.p-4.rounded-4.bg-white
    h3.text-custom
      i.fas.fa-map-marker-alt.me-2
      | Địa chỉ của bạn 
    form(action="/users/add-address" method="POST")
      .row.mb-3
        .col-md-4
          label.form-label(for='street') T&ecirc;n &dstrok;&#x1B0;&#x1EDD;ng
          input#street.form-control(type='text' name='street')
        .col-md-4
          label.form-label(for='city') T&ecirc;n th&agrave;nh ph&#x1ED1;
          input#city.form-control(type='text' name='city')
        .col-md-4
          label.form-label(for='country') Qu&#x1ED1;c gia
          select#country.form-control(name='country')
            option(value='vietnam') Vi&#x1EC7;t Nam
            option(value='usa') Hoa K&#x1EF3;
            option(value='japan') Nh&#x1EAD;t B&#x1EA3;n
            option(value='korea') H&agrave;n Qu&#x1ED1;c
            option(value='france') Ph&aacute;p
            // Thêm các quốc gia khác nếu cần
      button(btn-add-address).btn.btn-success 
        | Thêm địa chỉ 
        i.fa-solid.fa-plus
    table.table
      thead
        tr
          th(scope='col') #
          th(scope='col') Tên đường   
          th(scope='col') Thành phố  
          th(scope='col') Quốc gia  
          th(scope='col') Mặc định 
          th(scope='col') Thao tác 
      tbody
       each item, index in user.addresses 
        tr
          th(scope='row') #{index + 1}
          td #{item.street}
          td #{item.city}
          td #{item.country} 
          td 
           .form-check
            input#exampleRadios1.form-check-input(type='radio' inp-default-address=index name='defaultAddressIndex' checked=(user.defaultAddressIndex === index ? true : false ) value=item.id ) 
          td 
            .btn-group(role='group')
              button.btn.btn-danger(type='button') 
                i.fa-solid.fa-pen-to-square
              button.btn.btn-warning(type='button' btn-remove-address=index)
                i.fa-solid.fa-trash

  div(my-user-id=user.id)
  form(action="" form-remove-address method="post")  
  block script 
    script(src="/js/profile.js") 
