extends ../../layouts/default.pug 
include ../../mixins/pagination.pug 
block main 
    h1.text-center(style='margin-top: 30px;font-weight: 30px;')
     i.fa-solid.fa-cart-shopping
     |  Quản lý đơn hàng 
    .my-tool
      .tool-container
        .row.tool-section
          form(action="").col-md-4.mb-3
            .input-group
              input.form-control(type='text', placeholder='Tìm kiếm đơn hàng',name='keyword', value=keyword)

              .input-group-append
                button.btn.btn-dark(type='submit') Tìm kiếm 
          
          
          .col-md-4.mb-3
            select.form-control(form-select-sorting)
              option(value='') Sắp Xếp Theo 
              option(value='createdAt-desc' selected=(sortString === "createdAt-desc")) Ngày mua mới nhất 
              option(value='createdAt-asc' selected=(sortString === "createdAt-asc")) Ngày mua cũ nhất  
              option(value='productCount-desc' selected=(sortString === "productCount-desc")) Nhiều sản phẩm nhất 
              option(value="productCount-asc" selected=(sortString === "productCount-asc")) Ít sản phẩm nhất 
               option(value='totalPrice-desc' selected=(sortString === "totalPrice-desc")) Tổng tiền cao nhất  
              option(value="totalPrice-asc" selected=(sortString === "totalPrice-asc")) Tổng tiền ít nhất 
          .col-md-4.mb-3
            select.form-control(select-status)
              option(value='') Lọc theo trạng thái  
              option(value='pending' selected=(status === 'pending')) Đang chờ  
              option(value='confirmed' selected=(status === 'confirmed')) Đã xác nhận 
              option(value='processing' selected=(status === 'processing')) trong quá trình 
              option(value="shipped" selected=(status === 'shipped')) Vận chuyển 
              option(value="delivered" selected=(status === 'delivered')) Đã dao 
              option(value="cancelled" selected=(status === 'cancelled')) Bị hủy 
              option(value="issue" selected=(status === 'issue')) gặp vấn đề   
        .row.tool-section
          form(method="post" action="/admin/orders/change-multi?_method=PATCH" form-change-multi).col-md-4.mb-3
            .input-group
              select.form-control
                option Thay đổi nhiều
                option(value="status-active") Hoạt động 
                option(value="status-inactive") Không hoạt động 
                option(value="highlighted-1") Nổi bậc 
                option(value="highlighted-0") Không nổi bậc 
                option(value="delete-true")  Xóa 
              input(type="text", name='result').d-none 
              .input-group-append
                button.btn.btn-dark(type='submit') Áp dụng 
          .col-md-4.mb-3
            .action-buttons.d-flex.justify-content-md-end
              button.btn.btn-secondary(type='button' btn-export-excel) 
                i.fa-solid.fa-file-excel 
                |  Xuất Excel 
              button.btn.btn-danger(type='button' btn-export-excel) 
                i.fa-solid.fa-trash
                |  Thùng rác 
        
          form().col-md-4.mb-3
            .input-group
              select.form-control(select-limit)
                option(value="5" selected=(pagination.limit === 5)) Giới hạn 5
                option(value="10" selected=(pagination.limit === 10)) Giới hạn 10 
                option(value="20" selected=(pagination.limit === 20)) Giới hạn 20
                option(value="50" selected=(pagination.limit === 50)) Giới hạn 50 
                option(value="100" selected=(pagination.limit === 100)) Giới hạn 100 
    .table-responsive(table-manage)
      table.table.table-striped
        thead.thead-dark
          tr
            th 
              input(type="checkbox", name="")
            th #
            th Tên người đặt 
            th Số điện thoại 
            th Email 
            th Tổng số lượng sản phẩm 
            th Trạng thái 
            th Phương thức thanh toán 
            th Giá tiền ship 
            th Tổng giá tiền 
            th Ngày mua 
            th Thao tác 
        tbody
          each item, index in orders 
            tr
              td 
                input(type="checkbox", name='id'  value=item._id.toString())
              td #{1 + index}
              td #{item.user.fullName} 
              td #{item.user.phone} 
              td #{item.user.email}
              td 
                strong 
                | #{item.products.length} 
              td 
                select(select-update-status)
                  option(value='pending' selected=(item.status === 'pending')) Đang chờ  
                  option(value='confirmed' selected=(item.status === 'confirmed')) Đã xác nhận 
                  option(value='processing' selected=(item.status === 'processing')) trong quá trình 
                  option(value="shipped" selected=(item.status === 'shipped')) Vận chuyển 
                  option(value="delivered" selected=(item.status === 'delivered')) Đã dao 
                  option(value="cancelled" selected=(item.status === 'cancelled')) Bị hủy 
                  option(value="issue" selected=(item.status === 'issue')) gặp vấn đề 
              td #{item.paymentMethod} 
              td #{formatPrice(item.shippingCost)} 
              td #{formatPrice(item.totalPrice)} 
              td #{moment(item.createdAt).format(' dddd,DD/MM/YYYY </br> HH:mm:ss')}
              
              td
                a(href=`/admin/products/update/${item.id}`).btn.btn-sm.btn-info
                  i.fas.fa-edit
                button.btn.btn-sm.btn-danger(btn-delete=item.id)
                  i.fas.fa-trash 
                a(href=`/admin/products/detail/${item.id}`).btn.btn-sm.btn-warning 
                  i.fa-solid.fa-magnifying-glass  
    form(action="" method='post' form-update-status).d-none 
      input(type="text" name='status')
    +pagination(pagination)
    block script 
      script(src="/socket.io/socket.io.js") 
      script(src="/common/socket.js") 
      script(src="/admin/js/order.js")   
    