extends ../../layouts/default.pug 
include ../../mixins/disable-product.pug 
block styles 
  link(rel="stylesheet", href="/css/cart.css")

block main 

 .container
  .cart-container
    // Header
    .cart-header.row
      .col-1.checkbox-col
      .col-5 Sản phẩm 
      .col-2 Đơn giá 
      .col-2 Số lượng 
      .col-2 Tổng tiền 
    .cart-items
     each item in cart.products 
      .cart-item.row.align-items-center(class=(item.productId.quantity === 0 || item.productId.status == 'inactive') ? 'card-disabled' : '' info-status=item.productId.status id=item.productId.id)
        .col-1.checkbox-col
          if (item.productId.quantity !== 0 && item.productId.status !== 'inactive')
            input(type='checkbox' value=item.productId.id)
        .col-5.d-flex.align-items-center
          img.product-image.me-3(src='https://via.placeholder.com/100' alt='Product Image')
          div
            .deal-label
              +disableProduct(item.productId.quantity,item.productId.status)
            .product-name #{item.productId.title}
            span.disabled-text Phân loại hàng 
            //.stock-label.mt-1 H&#x1EBE;T H&Agrave;NG
        .col-2
          del.text-muted #{formatPrice(item.productId.price)}
          br
          span.price #{formatPrice(item.productId.newPrice)}
        .col-2
          input.form-control.text-center(type='number' value=item.quantity)
        .col-1.price #{formatPrice(item.totalPrice)}
        .col-1.action-col
          span.delete-btn(btn-remove-product-cart=item.productId.id) X&oacute;a
      
      
 .cart-footer(card-change-multi)
      .d-flex.align-items-center.justify-content-between
        div
          input#footer-select-all.footer-checkbox(type='checkbox' checked-all)
          span(cart-length) Ch&#x1ECD;n T&#x1EA5;t C&#x1EA3; 
          button.ms-3.btn.btn-success(btn-delete-multi) X&oacute;a
          button.btn.btn-primary.ms-3(btn-remove-product-inactive) Bỏ sản phẩm không hoạt động 
          button.btn.btn-info.ms-3() Bỏ sản phẩm hết hàng 
          button.ms-3.btn.btn-danger(styles='color: white') L&#x1B0;u v&agrave;o m&#x1EE5;c &Dstrok;&atilde; th&iacute;ch
        .d-flex.align-items-center
          span T&#x1ED5;ng thanh to&aacute;n (2 S&#x1EA3;n ph&#x1EA9;m):
          span.total-price.ms-2 &#x20AB;278.000
          button.btn.btn-buy.ms-3 Mua hàng 
 form(action="" method='POST' form-remove-product-cart)
 form(action="" method='POST' form-change-multi-cart).d-none 
  input(type="text" name='ids')
 block script  
  script(src='/js/cart.js')