.sidebar
      h2 Trang quảng trị 
      ul.nav.flex-column
        li.nav-item
          a.nav-link(href='/admin/dashboard' class=`${activePages === 'dashboard' ? 'show' : ''}`)
            i.fas.fa-tachometer-alt
            |  Dashboard  
        li.nav-item
          a.nav-link(href='/admin/products' class=`${activePages === 'products' ? 'show' : ''}`)
            i.fas.fa-box
            |  S&#x1EA3;n ph&#x1EA9;m #{partialPage ? `/ ${partialPage}` : ""}
        li.nav-item
          a.nav-link(href='/admin/users' class=`${activePages === 'users' ? 'show' : ''}`)
            i.fas.fa-users
            |  Ng&#x1B0;&#x1EDD;i D&ugrave;ng
        li.nav-item
          a.nav-link(href='/admin/categories' class=`${activePages === 'categories' ? 'show' : ''}`)
            i.fas.fa-list
            |  Danh m&#x1EE5;c
        li.nav-item
          a.nav-link(href='/admin/services' class=`${activePages === 'services' ? 'show' : ''}`)
            i.fa-brands.fa-servicestack
            |  D&#x1ECB;ch v&#x1EE5;
        li.nav-item
        a.nav-link(href='/admin/suppliers' class=`${activePages === 'suppliers' ? 'show' : ''}`)
          i.fa-solid.fa-truck-field-un
          |  Nh&agrave; cung c&#x1EA5;p
        li.nav-item
          a.nav-link(href='#orderSubmenu', data-toggle='collapse', aria-expanded='false')
            i.fa-solid.fa-cart-shopping
            |  &Dstrok;&#x1A1;n H&agrave;ng
          ul#orderSubmenu.collapse.list-unstyled
            li.nav-item
              a.nav-link(href='#')
                | - 
                i.fas.fa-user
                |  Khách hàng 
            li.nav-item
              a.nav-link(href='#')
                | - 
                i.fas.fa-truck
                |  Nhà cung cấp
        li.nav-item
          a.nav-link(href='/admin/roles' class=`${activePages === 'roles' ? 'show' : ''}`)
            i.fas.fa-user-shield
            |  Nh&oacute;m Quy&#x1EC1;n
        li.nav-item
          a.nav-link(href='/admin/permissions' class=`${activePages === 'permissions' ? 'show' : ''}`)
            i.fas.fa-key
            |  Ph&acirc;n Quy&#x1EC1;n
        li.nav-item
          a.nav-link(href='/admin/accounts' class=`${activePages === 'accounts' ? 'show' : ''}`)
            i.fas.fa-user-cog
            |  T&agrave;i Kho&#x1EA3;n
        li.nav-item
          a.nav-link(href='/admin/chat' class=`${activePages === 'chat' ? 'show' : ''}`)
            i.fa-solid.fa-message
            |  Nh&#x1EAF;n tin
      .separator
      h5.text-light C&agrave;i &dstrok;&#x1EB7;t Chung
      ul.nav.flex-column
        li.nav-item
          a.nav-link(href='#')
            i.fa-solid.fa-user-lock
            |  Tài khoản của tôi 
        li.nav-item
          a.nav-link(href='#')
            i.fas.fa-cogs
            |  C&agrave;i &dstrok;&#x1EB7;t
        li.nav-item
          a.nav-link(href='#')
            i.fas.fa-info-circle
            |  Th&ocirc;ng tin