.sidebar
      img(src=(account ? account.avatar : "https://placehold.co/70"), alt="")#my-avatar-account
      h2 #{account ? account.fullName : "Trang quảng trị"}
      ul.nav.flex-column
        li.nav-item
          a.nav-link(href='/admin/dashboard' class=`${activePages === 'dashboard' ? 'show' : ''}`)
            i.fas.fa-tachometer-alt
            |  Dashboard  
        li.nav-item
          a.nav-link(href='/admin/products' class=`${activePages === 'products' ? 'show' : ''}`)
            i.fas.fa-box
            |  S&#x1EA3;n ph&#x1EA9;m #{partialPage ? `/ ${partialPage}` : ""}
        li.nav-item
          a.nav-link(href='/admin/users' class=`${activePages === 'users' ? 'show' : ''}`)
            i.fas.fa-users
            |  Ng&#x1B0;&#x1EDD;i D&ugrave;ng
        li.nav-item
          a.nav-link(href='/admin/categories' class=`${activePages === 'categories' ? 'show' : ''}`)
            i.fas.fa-list
            |  Danh mục 
        li.nav-item
          a.nav-link(href='/admin/services' class=`${activePages === 'services' ? 'show' : ''}`)
            i.fa-brands.fa-servicestack
            |  Dịch vụ 
        li.nav-item
        a.nav-link(href='/admin/suppliers' class=`${activePages === 'suppliers' ? 'show' : ''}`)
          i.fa-solid.fa-truck-field-un
          |  Nhà cung cấp 
        li.nav-item
          a.nav-link(href='/admin/orders' class=`${activePages === 'orders' ? 'show' : ''}`)
            i.fa-solid.fa-cart-shopping
            |  Đơn hàng 
        li.nav-item
          a.nav-link(href='/admin/inventories' class=`${activePages === 'inventories' ? 'show' : ''}`)
            i.fa-solid.fa-warehouse
            |  Kho hàng 
        li.nav-item
          a.nav-link(href='/admin/roles' class=`${activePages === 'roles' ? 'show' : ''}`)
            i.fas.fa-user-shield
            |  Nhóm quyền 
        li.nav-item
          a.nav-link(href='/admin/roles/permissions' class=`${activePages === 'permissions' ? 'show' : ''}`)
            i.fas.fa-key
            |  Phân quyền 
        li.nav-item
          a.nav-link(href='/admin/accounts' class=`${activePages === 'accounts' ? 'show' : ''}`)
            i.fas.fa-user-cog
            |  Tài khoản 
        li.nav-item
          a.nav-link(href='/admin/chat' class=`${activePages === 'chat' ? 'show' : ''}`)
            i.fa-solid.fa-message
            |  Nhắn tin 
      .separator
      h5.text-light Cài đặt
      ul.nav.flex-column
        li.nav-item
          a.nav-link(href='/admin/settings/general' class=`${activePages === 'setting-general' ? 'show' : ''}`)
            i.fas.fa-cogs
            |  Cài đặt chung 
        li.nav-item
          a.nav-link(href='#')
            i.fas.fa-info-circle
            |  Thông tin 